.tab-content
{
	padding:25px;
	padding-left:0;
	border:1px solid #ddd;
	border-width:0px 1px 1px 1px;
}
.overview-left
{
	min-height:400px;
	overflow: hidden;
}
.overview-left img
{
	width:100%;
}
.imgWrapper
{
	margin-left:0;
	padding-left:0;
}
.rating
{
	margin-top:25px;
}
.form-group
{
	padding-left:0;
	margin-left:0;
}
.rating-container
{
	margin-top:10px;
	margin-left:5px;
	padding-left:0;
}
.rating-container > label
{
	font-size:13px;
	padding-top:15px;
	padding-bottom:5px;
	display: block;
	margin:0 auto;
	border-top:1px dotted #ddd;
	padding-top:10px;
	padding-left:25px;
}
.rating-container > .form-group
{
	padding-bottom:10px;
	border-bottom:1px dotted #ddd;
}
.webwidget_rating_simple
{
	float:none !important;
	display: block !important;
	margin:0 auto !important;
	width:auto;
	padding-left:25px !important;
}
.webwidget_rating_simple > li
{
	float:none;
	display: inline-block;
}
.webwidget_rating_simple:after
{
	content: "";
	display: block;
	clear:both;
}
span.username
{
	/*width:100%;*/
	display: block;
	float: left;
	font-size:24px;
	line-height:24px;
}
.userInfo span
{
	float: left;
}
.userInfo .star-rating
{
	float: left;
	margin-top:-15px;
	border-left:1px dotted #ddd;
	margin-left:25px;
	padding-bottom:5px;
}
table.tableSecond
{
	margin-top:62px !important;
}


.account-pane .nav-tabs 
{
  border-bottom: 0; 
  padding-left:25px;
  margin-right:-2px;
}
.account-pane .nav-tabs > li
{
   width: 100%; 
}
.account-pane .nav-tabs > li > a 
{
  border: 1px solid transparent;
  border-radius: 4px 0 0 4px;
  margin-right: 0;
}
.account-pane .nav-tabs > li.active > a, .account-pane .nav-tabs > li.active > a:hover
{
  background: #FFF !important;
  border: 1px solid #DDD;
  border-right-color: #FFF;
  margin-right: -1px;
  position: relative;
  z-index: 1;
}
.account-pane .nav-tabs > li > a:hover
{
 	background: transparent;
}
.account-pane .tab-content
{
  border: 1px solid #DDD;
  border-radius: 4px;
  margin-left: -31px;
  min-height: 20em;
  padding: 1em;
  position: relative;
  z-index: 0;
}
.account-pane label
{
	line-height:30px;
}
.account-pane .page-header
{
	margin-top:0;
	padding-top:0;
}
.tab-alert
{
	width:100%;
	display: block;
	font-size:16px;
}




#transaction_table tbody td
{
	padding-left: 20px;
	vertical-align: middle;
}
.transaction_filter:after,.transaction_filter:before
{
	content: "";
	display: block;
	clear:both;
}
.transaction_filter,.transaction_filter div
{
	height:50px;
	padding-left:0;
	margin-left:0;
}
label
{
	line-height: 30px;
}
.transaction_filter div.col-sm-1
{
	margin-left:-70px;
	margin-right:10px;
}
.transaction_filter label
{
	padding-left:0;
	margin-left:0;
}
.text-right a
{
	margin:0 5px;
}
.editContainer label
{
	padding-left:0;
	margin-left:0;
}
.editContainer select
{
	width: 137px !important;
}
.editContainer textarea
{
	width:100%;
	text-align:left;
	margin-left:25px
}
.editContainer div.editField
{
	border:1px dotted #ccc;
	padding:25px 25px 0 25px;
	border-radius:5px;
	float:right;
	margin:0 25px 25px;
}
.editContainer button.updateButton
{
	position:absolute;
	margin:0 auto;
	bottom:-10px;
	left:45%;
}
.sectionField
{
	border:1px dotted #ccc;
	padding:25px 25px 0 25px;
	border-radius:5px;
	margin:0 25px 25px;
	display: block;
	height:auto;
	width:90%;
}
.editContainer .cke
{
	margin-left:20px;
	width:101%;
}
label[for=transaction_pages]
{
	width:160px !important;
}
.table-center,.table-center th
{
	text-align:center;
}
table.user_banks,.user_banks_title,table.user_identity,.user_identity_title
{
	margin-left:10px;
}

@media all and (max-width:1230px){
	#account_edit > .row > .col-sm-12 > .col-sm-6
	{
		width:100% !important;
		display: block;
		float: none;
	}
}
@media all and (max-width:767px){
	#account_nav > .col-sm-10 > .tab-content
	{
		margin: 0px;
		margin-left: 25px;
	}
	#account_nav > .col-sm-10 > .tab-content label
	{
		padding-left:0;	
	}

}
.notes_filter label
{
	margin-left: 25px !important;
}
.table-scrollable
{
	overflow-x:hidden;
}
#wallets_table,#transactions_table,#bonus_rules_table,#friends_table,#notes_table,
#limits_table,#histories_table,#banks_table,#identity_table_wrapper
{
	width:100% !important;
}
div#identity
{
	margin:10px;
}
@media all and (max-width:1274px){
	.filter-form .form-group,.filter-form .form-group label
	{
		display: block;
	}
	#list_transactions
	{
		margin:15px 0;
	}
}
@media all and (max-width:1100px){

	.table-scrollable2
	{
		overflow-x:auto;
	}
}
@media all and (max-width:1378px){
	#email_histories_table,#phone_histories_table
	{
		width:100% !important;
		display: block;
		margin:20px;
	}
	#email_history_table,#phone_history_table
	{
		width:100% !important;
	}

}
.forgetpass-btn {
	margin-left: 30px;
}