#event_list_table
{
	width:100% !important;
}
.table-scrollable
{
	overflow-x:hidden;
}
@media all and (max-width:1345px){
	.table-scrollable
	{
		overflow-x:auto;
	}
}
@media all and (max-width:1107px){
	.filter-form .form-group,.filter-form .form-group label,.filter-form .form-group input
	{
		display:block;
		float:none;
	}
	#list
	{
		display: inline-block;
		float: left;
		margin-top:-53px;
		margin:10px 0 !important;
	}
}

.filter-form .form-group
{
	width:18% !important;
}
.filter-form .form-group:nth-child(6) label
{
	margin-left:-5px;
}