.container-row
{
	width:47%;
	height:auto;
	display: block;
	float: left;
	margin:0 25px;
	overflow:hidden;
	border:1px solid #333;
	padding:25px;
	/*background-color: #000;*/
}
.container-row > div.name , .container-row > div.text
{
	border:1px solid gray;
	padding:25px 0;
}
.container-row > div.text, .container-row > .table
{
	margin-top:5px;
}
input[type=text].inline-input
{
	width:auto;
	display: inline-block;
	margin-right:15px;
}
.warning-input
{
	background-color: #FFEAEA;
	border:1px dotted red;
}
table
{
	text-align:center;
}
table button
{
	padding:4px 8px !important;
}
table button span
{
	font-size:9px;
}
table th
{
	text-align:center;
}
label
{
	height: 30px;
	line-height: 30px;
}